{
    "presets": [
      "@babel/preset-env"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./src"],  // 将 src 目录作为根目录
          "alias": {
            "@": "./src"  // 将 @ 映射到 src 目录
          }
        }
      ]
    ],
    "env": {
      "test": {
        "presets": ["@babel/preset-env"]
      }
    }
  }
  